<!doctype html>
<html>

  <head>
    <title>DADO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="" />
    <meta name="author" content="JUDY" />

	<!--font-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/notokr.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/roboto.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/mdi/css/font-awesome.min.css">

	<!--css-->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/layout.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/styles.css" rel="stylesheet" media="( min-width:992px)"/>
	 <link rel="stylesheet" href="assets/css/styles_m.css" rel="stylesheet" media="( min-width:0px ) and ( max-width:991px )"/>

  </head>

  <body>

    
    <div class="site-wrapper clear">
			
			<!-- Header Mobile -->
        <div class="mobile-header PC-hide clear" id="mobile-header">
            <div class="header-mobile__logo">
                <a href="/"><img src="assets/images/dado_logo.png" alt="dado_logo" class="header-mobile__logo-img"></a>
            </div>

            <div class="header-mobile__inner">
                <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            </div>

          
        </div>
		
		<!--Pc header-->
		<header class="header" id="haeder">

            <div class="main-header mobile-hide">
                <div class="container text-center">
                    <a href="/"><img src="assets/images/dado_logo.png" alt="dado_logo" class="header-mobile__logo-img"></a>

                </div>
            </div>

            <div class="main-header-second">
                <div class="container">
                    <div class="nav" id="nav">
                        <h2>Menu</h2>
                         <nav class="main-nav clear">
                                <ul class="main-nav-list">
                                <li><a href="javascript:alert('준비중입니다')" class="main-nav-title">회사소개</a></li>
                                <li><a href="/" class="main-nav-title">포트폴리오</a></li>
                                <li><a href="javascript:alert('준비중입니다')" class="main-nav-title">프로젝트의뢰</a></li>
                            </ul>
                        </nav>

                        <a href="#" class="close"></a>
                    </div>
                </div>
            </div>

        </header>
        <div class="dim"></div>
		
		
		<!--contents-->
		
		<div class="site-section bg-light">
		  <div class="container" >
		  
		  <!--main-->
		  <div class="text-center">
			  	<h3 class="pt-main-tit">Works</h3>
				<p class="pt-sub-tit">DADO의 포트폴리오 관련된 설명을 적는 부분입니다.</p>
			 </div>
			  
			  <!--portfolio area-->
			  
			  <div class="row">			
			  
			  	  <div  class="col-lg-6 col-sm-12">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/01.Besuiness.Thum.jpg" alt="01.Besuiness.Thum"></a>											
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit d-block pt-3"><a>기업 소개  사이트</a></span>
							<span class="pt-contents-Stit d-block ellipsis-3 ">사업 소개 및 홍보 웹사이트</span>
							<div class="pt_plus"><div class="verti"></div><div class="horz"></div></div>
							<a href="/business" class="pt_link" >바로가기</a>						
						</div>		
					  </div>
				  </div>
				  
				  <div  class="col-lg-6 col-sm-12 mt-5-m">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/02.Reservation.Thum.jpg" alt="02.Reservation"></a>										
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit d-block pt-3"><a>자원예약 사이트</a></span>
							<span class="pt-contents-Stit d-block ellipsis-3 ">호텔, 콘도, 놀이공원 등의 자원예약 지원</span>
							<div class="pt_plus"><div class="verti"></div><div class="horz"></div></div>
							<a href="/reservation" class="pt_link">바로가기</a>						
						</div>		
					  </div>
				  </div>
				  
			  </div>
			  
			  <div class="row mt-5">			
			  
			  	  <div  class="col-lg-6 col-sm-12">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/03.Community.Thum.jpg" alt="프로젝트 대표 썸네일"></a>											
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit2 d-block pt-3"><a>커뮤니티 사이트</a></span>
							<span class="pt-contents-Stit2 d-block ellipsis-3 ">사용자 친화 기능 중심 커뮤니티</span>
							<div class="pt_plus2"><div class="verti"></div><div class="horz"></div></div>
							<a href="/Community" class="pt_link">바로가기</a>						
						</div>		
					  </div>
				  </div>
				  
				  <div  class="col-lg-6 col-sm-12 mt-5-m">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/04.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>											
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit2 d-block pt-3"><a>통신자원관리 시스템</a></span>
							<span class="pt-contents-Stit2 d-block ellipsis-3 ">신청 접수 관리 사이트</span>
							<div class="pt_plus2"><div class="verti"></div><div class="horz"></div></div>
							<a href="/site4" class="pt_link">바로가기</a>						
						</div>		
					  </div>
				  </div>
				  
			  </div>
			  
			  <div class="row mt-5">			
			  
			  	  <div  class="col-lg-6 col-sm-12">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/05.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>											
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit d-block pt-3"><a>의료비 정산 시스템</a></span>
							<span class="pt-contents-Stit d-block ellipsis-3 ">자동으로 정산하고 알림톡을 발송하는 시스템</span>
							<div class="pt_plus"><div class="verti"></div><div class="horz"></div></div>
							<a href="/site5" class="pt_link">바로가기</a>						
						</div>		
					  </div>
				  </div>
				  
				  <div  class="col-lg-6 col-sm-12 mt-5-m">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/06.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>															
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit2 d-block pt-3"><a>통근관제 시스템</a></span>
							<span class="pt-contents-Stit2 d-block ellipsis-3 ">출퇴근 통근버스 관제 시스템</span>
							<div class="pt_plus2"><div class="verti"></div><div class="horz"></div></div>
							<a href="/site6" class="pt_link">바로가기</a>					
						</div>		
					  </div>
				  </div>
				  
			  </div>
			  
			  
			  <div class="row mt-5">			
			  
			  	  <div  class="col-lg-6 col-sm-12">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/07.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>												
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit d-block pt-3"><a>NSO 사이트</a></span>
							<span class="pt-contents-Stit d-block ellipsis-3 ">Network Service Orchestration</span>
							<div class="pt_plus"><div class="verti"></div><div class="horz"></div></div>
							<a href="/site7" class="pt_link">바로가기</a>					
						</div>		
					  </div>
				  </div>
				  
				  <div  class="col-lg-6 col-sm-12 mt-5-m">
					  <div class="pt-wrapper ">
						<div class="pt-image-wrapper">
							<a href=""><img width="700" height="700" src="assets/images/08.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>											
						</div>							
						<div class="pt-contents p-10">					
							<span class="pt-contents-tit d-block pt-3"><a>네트워크 관리 시스템</a></span>
							<span class="pt-contents-Stit d-block ellipsis-3 ">사내 인터넷 및 외부망 관리</span>
							<div class="pt_plus"><div class="verti"></div><div class="horz"></div></div>
							<a href="/site8" class="pt_link">바로가기</a>					
						</div>		
					  </div>
				  </div>
				  
			  </div>


			  <div class="row mt-5">			
			  
				<div  class="col-lg-6 col-sm-12">
				  <div class="pt-wrapper ">
					<div class="pt-image-wrapper">
						<a href=""><img width="700" height="700" src="assets/images/09.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>												
					</div>							
					<div class="pt-contents p-10">					
						<span class="pt-contents-tit2 d-block pt-3"><a>세차관리 사이트</a></span>
						<span class="pt-contents-Stit2 d-block ellipsis-3 ">사내 세차 예약 및 관리</span>
						<div class="pt_plus2"><div class="verti"></div><div class="horz"></div></div>
						<a href="/site9" class="pt_link">바로가기</a>					
					</div>		
				  </div>
			  </div>
			  
			  <div  class="col-lg-6 col-sm-12 mt-5-m">
				  <div class="pt-wrapper ">
					<div class="pt-image-wrapper">
						<a href=""><img width="700" height="700" src="assets/images/10.Site.Thum.jpg" alt="프로젝트 대표 썸네일"></a>											
					</div>							
					<div class="pt-contents p-10">					
						<span class="pt-contents-tit d-block pt-3"><a>코로나 접촉자 확인 사이트</a></span>
						<span class="pt-contents-Stit d-block ellipsis-3 ">사내 코로나 확진자 동선 및 접촉자 확인</span>
						<div class="pt_plus"><div class="verti"></div><div class="horz"></div></div>
						<a href="/site10" class="pt_link">바로가기</a>					
					</div>		
				  </div>
			  </div>
			  
		  </div>
			  
			  
	
		  </div>
	  </div>
		
			
    </div>
	
	
     
      
      <footer id="footer" class="footer">
        <div class="footer-widgets">
        <div class="footer-widgets__inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div class="footer-col-inner">

                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img
                                        src="assets/images/dado_logo_w.png"   alt="DADO_logo" class="footer-logo__img"></a>
                            </div>
                            <!-- Footer Logo / End -->

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
							<div class="footer-col-inner1 mt-3">
                            <div class="widget widget--footer widget-contact-info">
                                <a href="javascript:alert('준비중입니다')"><span class="widget__title d-block">회사소개</span></a>
											<a href="/"><span class="widget__title d-block">포트폴리오</span></a>
											<a href="javascript:alert('준비중입니다')"><span class="widget__title d-block">프로젝트의뢰</span></a>
                            </div>                          
                        </div>
                    </div>
					
					
					 <div class="col-sm-12 col-lg-6">						
						
                        <div class="footer-col-inner1 mt-3">
                            <div class="widget widget--footer widget-contact-info">
                                 <a href=""><span class="widget__title d-block">Tel: 010.8785.5742</span></a>
											<a href=""><span class="widget__title d-block">E-mail: soundbrokaz@kakao.com</span></a>
											<a href=""><span class="widget__title d-block">사업자 등록번호: 146-69-00152</span></a>
                            </div>
								
                        </div>     
                    </div>


                   
                </div>
            </div>
        </div>
    </div>
      </footer>

    </div>

   <script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/backtotop.js"></script>
<script src="assets/js/jquery.parallax.js"></script>

  </body>

</html>

