<!doctype html>
<html>

  <head>
    <title>DADO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="" />
    <meta name="author" content="JUDY" />

	<!--font-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/notokr.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/roboto.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/mdi/css/font-awesome.min.css">

	<!--css-->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/layout.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/styles.css" rel="stylesheet" media="( min-width:992px)"/>
	 <link rel="stylesheet" href="assets/css/styles_m.css" rel="stylesheet" media="( min-width:0px ) and ( max-width:991px )"/>

  </head>

  <body>

    
    <div class="site-wrapper clear">
			
			<!-- Header Mobile -->
        <div class="mobile-header PC-hide clear" id="mobile-header">
            <div class="header-mobile__logo">
                <a href="/"><img src="assets/images/dado_logo.png" alt="dado_logo" class="header-mobile__logo-img"></a>
            </div>

            <div class="header-mobile__inner">
                <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            </div>

          
        </div>
		
		<!--Pc header-->
		<header class="header" id="haeder">

            <div class="main-header mobile-hide">
                <div class="container text-center">
                    <a href="/"><img src="assets/images/dado_logo.png" alt="dado_logo" class="header-mobile__logo-img"></a>

                </div>
            </div>

            <div class="main-header-second">
                <div class="container">
                    <div class="nav" id="nav">
                        <h2>Menu</h2>
                        <nav class="main-nav clear">
                                <ul class="main-nav-list">
                                <li><a href="javascript:alert('준비중입니다')" class="main-nav-title">회사소개</a></li>
                                <li><a href="/" class="main-nav-title">포트폴리오</a></li>
                                <li><a href="javascript:alert('준비중입니다')" class="main-nav-title">프로젝트의뢰</a></li>
                            </ul>
                        </nav>

                        <a href="#" class="close"></a>
                    </div>
                </div>
            </div>

        </header>
        <div class="dim"></div>
		
				
		<!--top_ban-->
			
			<div class="sub-ban">
				<img src="assets/images/08.Site_bg.png" width="100%" height="300px" alt="기업 소개  사이트 배경">			
				<div class="sub-page text-center">
					<span class="pb-4 d-block">사내 인터넷 및 외부망 관리</span>
					<h3>네트워크 관리 시스템</h3>
				</div>
			</div>
		
		
		<!--contents-->
		<div class="site-section bg-light">
		  <div class="container" > 
		  
        
            <div class="row justify-content-center pt-5 pb-4">
                <div class="col-lg-4 col-sm-12">
                    <h3 class="subj_tit">Concept Detail</h3>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <p class="txt1">
							사내 인터넷 및 외부망 관리현황 및 승인관리 시스템
							</p>
							<p class="detail"><b class="port_date">2020.03</b><b class="port_client">sk계열사</b></p>
							<p class="detail"><b class="port_hash">#Web / #Android / #IOS / #Spring Framework / #MSSQL / #GRPC / #Linux</b></p>
                </div>
            </div>	
		  </div>
	  </div>
		
		<!--portfolio area-->
		<div class="site-section">		
			<div class="container" > 
				<div class="Detailbox">
					<img src="assets/images/08.site1.png" alt="네트워크 관리 시스템 서브페이지1">
				</div>
			</div>
		</div>
		
		<div class="site-section bg-light">		
			<div class="container" > 
				<div class="Detailbox">
					<img src="assets/images/08.site2.png" alt="네트워크 관리 시스템 서브페이지2">
				</div>
			</div>
		</div>
		
				
		
			
    </div>
	
	
     
      
      <footer id="footer" class="footer">
        <div class="footer-widgets">
        <div class="footer-widgets__inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div class="footer-col-inner">

                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="/"><img
                                        src="assets/images/dado_logo_w.png"   alt="DADO_logo" class="footer-logo__img"></a>
                            </div>
                            <!-- Footer Logo / End -->

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
							<div class="footer-col-inner1 mt-3">
                             <div class="widget widget--footer widget-contact-info">
                                <a href="javascript:alert('준비중입니다')"><span class="widget__title d-block">회사소개</span></a>
											<a href="/"><span class="widget__title d-block">포트폴리오</span></a>
											<a href="javascript:alert('준비중입니다')"><span class="widget__title d-block">프로젝트의뢰</span></a>
                            </div>                
                        </div>
                    </div>
					
					
					 <div class="col-sm-12 col-lg-6">						
						
                        <div class="footer-col-inner1 mt-3">
                            <div class="widget widget--footer widget-contact-info">
                                 <a href=""><span class="widget__title d-block">Tel: 010.8785.5742</span></a>
											<a href=""><span class="widget__title d-block">E-mail: soundbrokaz@kakao.com</span></a>
											<a href=""><span class="widget__title d-block">사업자 등록번호: 146-69-00152</span></a>
                            </div>
								
                        </div>     
                    </div>


                   
                </div>
            </div>
        </div>
    </div>
      </footer>

    </div>

   <script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/backtotop.js"></script>
<script src="assets/js/jquery.parallax.js"></script>

  </body>

</html>

