<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MAIN VIEW</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="">
    <meta name="author" content="KaijuThemes">
    <link rel = "icon" href = "#">
</head>
<body>
  <h1>여기에 MAIN VIEW부터 Front 코딩 시작됨.</h1>
</body>
</html>
